# Systems
.DS_Store
Thumbs.db

# Editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build
dist
lib
lib-types
server
typings
storybook-static

# Development
**/node_modules
node_modules
coverage
logs
*.log*
*.log

# Cache
.cache
.sass-cache
.mf
.rollup.cache
tsconfig.tsbuildinfo
connect.lock
